# See https://help.github.com/ignore-files/ for more about ignoring files.

# Typescript compiled files
dist/

# dependencies
node_modules

# testing
coverage

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log
